* {
    font-family: 'Roboto';
}

body{
    
    min-height: 100vh;
    padding-bottom: 100px;
    position:relative;
    background-color: #FFF;
}

.row {
    margin:0
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    border:2px solid #000000;
}

.btn-primary:hover {
    border:2px solid rgba(0, 17, 255, 0.884);
}


#navbar a {
  font-size: 14px;
  color:#FFF;
}

#navbar a:hover {
    font-size: 14px;
    color:rgb(0, 102, 255);
}

/* Search Contianer */

#search-container {
    background-image: url('../imagens/IMG_3818.JPG');
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
 
     margin-bottom: 30px;
     color:#FFF;
}

#search-container form {
 
    width: 50%;
    margin: 0 auto;
}
  
#evetns-container form {
    padding: 50px;
}

#evetns-container h2 {
    margin-bottom: 10px;
}
  
#evetns-container .subtitle {
    margin-bottom: 10px;
    color:#757575;
}

#cards-container  {
    display: flex;
}

#events-container img {
  max-height:150px;
  width: 100%;
  
}

#events-container .card {
    box-shadow: 2px 2px 4px black;
    
  }


footer {
    text-align: center;
    background-color: #353E48;
    color:#FFF;
    padding: 30px;
    position: absolute;
    bottom:0;
    width:100%;
    margin: 0;
}

#event-create-container {
    font-size: 17px;
}

/* edite page */ 

.img-previwe {
   width: 100px;
   margin-top: 5px;
}


.col-nome {
    width: 30%;
}

.col-descricao {
    width: 50%;
}

.col-acoes {
    width: 20%;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

